Username: <input type="text" id="username" value=<%= "'#{@name}'" %>>&nbsp&nbsp
Room: <select id="room">
		<option value="Real" data-id = "1">Real</option>
		<option value="Complex" data-id = "2">Complex</option>
	  </select>

<div id='chatdiv' style='height: 500px; width: 100%; overflow: auto;'></div>
Message:  <input type="text" id="message" />

<script type="text/javascript">
	$('document').ready(function(){
		$('#message').keypress(function(e){
			if (e.which == 10 || e.which == 13){
				$('#message').attr("disabled", "disabled");
				$.ajax({
					type: "POST",
					url: "new_message",
					data: {message: $('#message').val(), username: $('#username').val() || "Guest"},
					dataType: "html",
					error: function(xhr,err){
					    alert("readyState: " + xhr.readyState + "\nstatus: " + xhr.status);
					    alert("responseText: " + xhr.responseText);
						alert(err);
					},
					success: function(){
						$('#message').val("");
						$('#message').removeAttr('disabled');
					}
				});
			}
		});
		
		$('#room').change(function(){
			$('#room').attr("disabled", "disabled");
			console.log($('#chatdiv'))
			$('#chatdiv').html("");
			$.ajax({
				type: "POST",
				url: "change_room",
				data: {room: $('#room').val()},
				dataType: "xml",
				error: function(xhr,err){
				    alert("readyState: " + xhr.readyState + "\nstatus: " + xhr.status);
				    alert("responseText: " + xhr.responseText);
					alert(err);
				},
				success: function(data){
					data = data.getElementsByTagName("arrays")[0]
					room = $('#room').attr('data-id');
					var username = "";
					var message = "";
					i = 0;
					if (data){
						while (data.childNodes[i] != null){
							if (data.childNodes[i].nodeType != 3){
								j = 0;
								k = 0;
								while (data.childNodes[i].childNodes[j] != null){
									if (data.childNodes[i].childNodes[j].nodeType != 3){
										k += 1;
										if (k == 1)
											username = (data.childNodes[i].childNodes[j].childNodes[0]) ? data.childNodes[i].childNodes[j].childNodes[0].data : "";
										else if (k == 2)
											message = (data.childNodes[i].childNodes[j].childNodes[0]) ? data.childNodes[i].childNodes[j].childNodes[0].data : "";
									}
									j += 1;
								}
								console.log("Check 3: " + username)
								span = document.createElement("span");
								span.innerHTML = "<b>" + username + ": </b>" + message + "<br />";
								$("#chatdiv").append(span);
							}
							i += 1;
						}
					}
					$('#room').removeAttr("disabled");
				}
			});
		})
		
		<% if (@msgs.length > 0) %>
		<%   @msgs.each do |row| %>
		<%=    "span = document.createElement('span')" %>
		<%=     "console.log('#{row.user_id}')" %>
		<%= raw    "span.innerHTML = '<b>#{User.find(row.user_id).username.gsub("'","\\\\'")}: </b>#{row.message.gsub("'","\\\\'")}<br />'"  %>
		<%=    "document.getElementById('chatdiv').appendChild(span)" %>
		<%   end %>
		<%  end  %>
	})
</script>